parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Calculator/Iban.php

		-
			message: "#^Binary operation \"\\*\\=\" between string and int results in an error\\.$#"
			count: 1
			path: src/Calculator/Isbn.php

		-
			message: "#^Binary operation \"\\*\" between string and 2 results in an error\\.$#"
			count: 1
			path: src/Calculator/Luhn.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/Container/ContainerBuilder.php

		-
			message: "#^Method Faker\\\\Generator\\:\\:optional\\(\\) should return Faker\\\\Generator but returns Faker\\\\ChanceGenerator\\.$#"
			count: 1
			path: src/Generator.php

		-
			message: "#^Method Faker\\\\Generator\\:\\:valid\\(\\) should return Faker\\\\Generator but returns Faker\\\\ValidGenerator\\.$#"
			count: 1
			path: src/Generator.php

		-
			message: "#^Call to an undefined static method UnitEnum\\:\\:cases\\(\\)\\.$#"
			count: 2
			path: src/Provider/Base.php

		-
			message: "#^Class UnitEnum not found\\.$#"
			count: 2
			path: src/Provider/Base.php

		-
			message: """
				#^Instantiation of deprecated class Faker\\\\DefaultGenerator\\:
				Use ChanceGenerator instead$#
			"""
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Parameter \\#2 \\$callback of function preg_replace_callback expects callable\\(array\\<int\\|string, string\\>\\)\\: string, array\\{class\\-string\\<static\\(Faker\\\\Provider\\\\Base\\)\\>, 'randomDigit'\\} given\\.$#"
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Parameter \\$validator of method Faker\\\\Provider\\\\Base\\:\\:valid\\(\\) has invalid type Faker\\\\Provider\\\\Closure\\.$#"
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Provider/Base.php

		-
			message: "#^Method Faker\\\\Provider\\\\DateTime\\:\\:resolveTimezone\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: src/Provider/DateTime.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\DateTime\\:\\:resolveTimezone\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/DateTime.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\DateTime\\:\\:setTimezone\\(\\) through static\\:\\:\\.$#"
			count: 3
			path: src/Provider/DateTime.php

		-
			message: "#^Method Faker\\\\Provider\\\\File\\:\\:file\\(\\) should return string but returns false\\.$#"
			count: 1
			path: src/Provider/File.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Provider/Lorem.php

		-
			message: "#^Variable \\$text in empty\\(\\) always exists and is always falsy\\.$#"
			count: 1
			path: src/Provider/Lorem.php

		-
			message: "#^Parameter \\#1 \\$str of function md5 expects string, int given\\.$#"
			count: 1
			path: src/Provider/Miscellaneous.php

		-
			message: "#^Parameter \\#1 \\$str of function sha1 expects string, int given\\.$#"
			count: 1
			path: src/Provider/Miscellaneous.php

		-
			message: "#^Parameter \\#2 \\$data of function hash expects string, int given\\.$#"
			count: 1
			path: src/Provider/Miscellaneous.php

		-
			message: "#^Method Faker\\\\Provider\\\\PhoneNumber\\:\\:imei\\(\\) should return int but returns string\\.$#"
			count: 1
			path: src/Provider/PhoneNumber.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\ar_EG\\\\Person\\:\\:\\$prefix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/ar_EG/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\ar_JO\\\\Person\\:\\:\\$prefix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/ar_JO/Person.php

		-
			message: "#^Access to an undefined static property static\\(Faker\\\\Provider\\\\ar_SA\\\\Address\\)\\:\\:\\$cityPrefix\\.$#"
			count: 1
			path: src/Provider/ar_SA/Address.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\ar_SA\\\\Person\\:\\:\\$prefix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/ar_SA/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\cs_CZ\\\\Address\\:\\:\\$regions through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/cs_CZ/Address.php

		-
			message: "#^Binary operation \"\\*\" between 2\\|3\\|4\\|5\\|6\\|7\\|8 and string results in an error\\.$#"
			count: 1
			path: src/Provider/cs_CZ/Company.php

		-
			message: "#^Binary operation \"\\-\" between string and 1 results in an error\\.$#"
			count: 2
			path: src/Provider/cs_CZ/DateTime.php

		-
			message: "#^Static call to instance method Faker\\\\Provider\\\\cs_CZ\\\\Person\\:\\:birthNumber\\(\\)\\.$#"
			count: 2
			path: src/Provider/cs_CZ/Person.php

		-
			message: "#^Parameter \\#2 \\$callback of function preg_replace_callback expects callable\\(array\\<int\\|string, string\\>\\)\\: string, array\\{class\\-string\\<static\\(Faker\\\\Provider\\\\en_CA\\\\Address\\)\\>, 'randomDigit'\\} given\\.$#"
			count: 1
			path: src/Provider/en_CA/Address.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\en_GB\\\\Company\\:\\:generateBranchTraderVatNumber\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/en_GB/Company.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\en_GB\\\\Company\\:\\:generateGovernmentVatNumber\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/en_GB/Company.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\en_GB\\\\Company\\:\\:generateHealthAuthorityVatNumber\\(\\) through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/en_GB/Company.php

		-
			message: "#^Unsafe call to private method Faker\\\\Provider\\\\en_GB\\\\Company\\:\\:generateStandardVatNumber\\(\\) through static\\:\\:\\.$#"
			count: 2
			path: src/Provider/en_GB/Company.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\en_NG\\\\Address\\:\\:\\$county through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/en_NG/Address.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\en_NG\\\\Address\\:\\:\\$regions through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/en_NG/Address.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/en_ZA/Person.php

		-
			message: "#^Parameter \\#3 \\$pad_string of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/en_ZA/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\es_AR\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/es_AR/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\es_ES\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/es_ES/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\es_VE\\\\Person\\:\\:\\$nationalityId through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/es_VE/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\es_VE\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/es_VE/Person.php

		-
			message: "#^Binary operation \"\\*\" between string and int\\<2, 10\\> results in an error\\.$#"
			count: 1
			path: src/Provider/fa_IR/Person.php

		-
			message: "#^Method Faker\\\\Provider\\\\fa_IR\\\\Person\\:\\:createAreaCode\\(\\) never returns int so it can be removed from the return type\\.$#"
			count: 1
			path: src/Provider/fa_IR/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\fr_FR\\\\Address\\:\\:\\$departments through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/fr_FR/Address.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\fr_FR\\\\Address\\:\\:\\$regions through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/fr_FR/Address.php

		-
			message: "#^Method Faker\\\\Provider\\\\hu_HU\\\\Address\\:\\:localCoordinates\\(\\) has invalid return type Faker\\\\Provider\\\\hu_HU\\\\latitude\\.$#"
			count: 1
			path: src/Provider/hu_HU/Address.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\hu_HU\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/hu_HU/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\hy_AM\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/hy_AM/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\id_ID\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/id_ID/Person.php

		-
			message: "#^Binary operation \"\\*\" between string and string results in an error\\.$#"
			count: 1
			path: src/Provider/is_IS/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\it_IT\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/it_IT/Person.php

		-
			message: "#^Call to an undefined static method static\\(Faker\\\\Provider\\\\ja_JP\\\\Text\\)\\:\\:split\\(\\)\\.$#"
			count: 1
			path: src/Provider/ja_JP/Text.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\lt_LT\\\\Address\\:\\:\\$municipality through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/lt_LT/Address.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\ne_NP\\\\Person\\:\\:\\$middleNameFemale through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/ne_NP/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\ne_NP\\\\Person\\:\\:\\$middleNameMale through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/ne_NP/Person.php

		-
			message: "#^Variable \\$companyName might not be defined\\.$#"
			count: 2
			path: src/Provider/nl_NL/Company.php

		-
			message: "#^Call to method format\\(\\) on an unknown class Faker\\\\Provider\\\\pl_PL\\\\DateTime\\.$#"
			count: 4
			path: src/Provider/pl_PL/Person.php

		-
			message: "#^Parameter \\$birthdate of method Faker\\\\Provider\\\\pl_PL\\\\Person\\:\\:pesel\\(\\) has invalid type Faker\\\\Provider\\\\pl_PL\\\\DateTime\\.$#"
			count: 1
			path: src/Provider/pl_PL/Person.php

		-
			message: "#^Binary operation \"\\*\" between string and int\\<2, max\\> results in an error\\.$#"
			count: 1
			path: src/Provider/pt_BR/check_digit.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\pt_PT\\\\Address\\:\\:\\$cities through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/pt_PT/Address.php

		-
			message: "#^Left side of \\|\\| is always true\\.$#"
			count: 1
			path: src/Provider/pt_PT/Person.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, int given\\.$#"
			count: 1
			path: src/Provider/ro_RO/Person.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/ru_RU/Company.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\sk_SK\\\\Person\\:\\:\\$suffix through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/sk_SK/Person.php

		-
			message: "#^Static call to instance method Faker\\\\Provider\\\\sl_SI\\\\Person\\:\\:lastName\\(\\)\\.$#"
			count: 2
			path: src/Provider/sl_SI/Person.php

		-
			message: "#^Unsafe access to private property Faker\\\\Provider\\\\sv_SE\\\\Municipality\\:\\:\\$municipalities through static\\:\\:\\.$#"
			count: 1
			path: src/Provider/sv_SE/Municipality.php

		-
			message: "#^Parameter \\#1 \\$input of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/zh_CN/Address.php

		-
			message: "#^Parameter \\#3 \\$pad_string of function str_pad expects string, int given\\.$#"
			count: 1
			path: src/Provider/zh_CN/Address.php
